<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Jot down ideas for your next Youtub Vedio </p>
    <a class="btn btn-dark btn-g" href="/ideas/add"> Add Your Idea </a>
</div>